/* Wishlist Item */
.wishlist-item {
    display: flex;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #fff;
    position: relative;
}

.favouriteCover {
    width: 150px;
    border-radius: 5px;
}

.favouriteInfo {
    flex-grow: 1;
    padding: 0 15px;
}

.favouriteInfo h3 {
    margin: 0;
}

.flavour span {
    color: #ffa500;
}

.priceFavourite {
    text-align: right;
}

.price {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.detailsBtn {
    background-color: #4CAF50;
    color: white;
    padding: 0.6em 1em;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
}

.added-date {
    font-size: 12px;
    color: #a9b7c6;
}

.added-date a {
    color: #c4cdd5;
    text-decoration: none;
}

.xBtn {
    color: red;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    padding: 0.2em 0.5em;
}

.xBtn:hover {
    background-color: white;
    border-radius: 0.3em;
}