.product {
    text-decoration: none;
    text-align: center;
    position: relative;
  }

  .product img {
    filter: blur(0);
    transition: 0.3s ease-in;
  }

  .product:hover img {
    filter: blur(2px);
  }

  .product:hover .centerIcon {
    opacity: 3;
  }

  .product .centerIcon {
    position: absolute;
    background-color: red;
    top: calc(50% - 3em);
    left: calc(50% - 1.3em);
    padding: 0.5em 0.8em;
    border-radius: 50%;
    color: #fff;
    background-color: black;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  .product p:nth-of-type(1) {
    color: #000;
    font-size: 1.1em;
  }

  .product p.type {
    color: #333;
    padding-bottom: 0.5em;
  }

  .product p:nth-of-type(3) {
    color: #000;
  }

  .product img {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
    border-radius: 1em;
  }