header {
    padding: 1.5em;
    background-color: rgb(21, 21, 21);
    position: relative;
}

header nav {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
    gap: 30em;
}

.logo {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
}

header nav ul li,
header nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

header nav ul {
    display: flex;
    gap: 1.5em;
}

.active {
    background-color: #fff;
    color: #000;
    padding: 0 0.5em;
    border-radius: 0.5em;
    font-weight: 600;
}